# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE
.idea/

# Python version
.python-version

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# Type checking
.mypy_cache/

z-refs/
.claude
